<div class="container">
  <div class="row align-items-center text-center">
    <div class="col">
      <h1 class="mb-0">Add User</h1>
        <%= render 'form', user: @user %>
    </div>
  </div>

</div>
