// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*/



.index-rule {
    border-top: 1px dashed #000;
    margin-left: 1px;
}

.header-rule {
    border:none;
    height: 2px;
    background-color: #000;
}

.list-rule {
    border-top: 1px dashed #000;
}

.add-user-btn {
    margin-left: 77%;
    margin-bottom: 1.5%;
}

.btn-group {
    margin-bottom: -8%;
    

}


